
<div class="container">
  <div class="row">

    <div class="col-sm-12">
      <div class="social-icons">
      <a href="#"><i class="fa fa-message"></i></a>
      <a href="https://web.facebook.com/RHA-106530729516571/?_rdc=1&_rdr" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/rwanda_housing?lang=en" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="row midle-header">
    <div class="col-sm-2">
      <div class="logo">
          <f:cObject typoscriptObjectPath="lib.header_top_left" />
          </div>
    </div>
    <div class="col-sm-10">
      <div class="title">
        <p>REPUBLIC OF RWANDA </p><h3>RWANDA HOUSING AUTHORITY</h3>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <nav class="navbar navbar-expand-sm bg-primary sticky-top">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynav">
    <f:cObject typoscriptObjectPath="lib.navigation" />
  </div>
          </nav>


      </div>
    </div>

  </div>
