        <f:layout name="main_layout" />

        <f:section name="contentmain">
                <f:format.raw>{content_main}</f:format.raw>
               <f:format.raw>{content_slider}</f:format.raw>
               <f:format.raw>{content_news}</f:format.raw>
                  <f:format.raw>{content_bestemp}</f:format.raw>

        </f:section>
        <f:section name="contentslider">
               <f:format.raw>{content_slider}</f:format.raw>
        </f:section>
        <f:section name="contenttwitts">
                <f:format.raw>{content_twitts}</f:format.raw>
        </f:section>
        <f:section name="contentmain">
                <f:format.raw>{content_main}</f:format.raw>
        </f:section>
        <f:section name="contentnews">

               <f:format.raw>{content_news}</f:format.raw>

        </f:section>

        <f:section name="contentbestemp">
                  <f:format.raw>{content_bestemp}</f:format.raw>

        </f:section>
