<div class="container-fluid">


<div class="container">
  <header id="header">
      <f:render partial="header_top" arguments="{_all}"/>

  </header>

  <section>
    <div class="container">

      <div class="row">
        <div class="col-sm-10 middle-content">
          <div class="row">
              <f:render section="contentmain" />
          </div>

        </div>
        <div class="col-sm-2 rightcontent">
            <div id="relatedlinks">

              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id ="footer">
            <f:render partial="footer" arguments="{_all}" />
          </div>
        </div>
      </div>
    </div>

</section>

  </div>

  </div>
  <!-- container -->
